"*.vue"    eol=lf
"*.js"     eol=lf
"*.ts"     eol=lf
"*.jsx"    eol=lf
"*.tsx"    eol=lf
"*.mjs"    eol=lf
"*.json"   eol=lf
"*.html"   eol=lf
"*.css"    eol=lf
"*.scss"   eol=lf
"*.md"     eol=lf
"*.yaml"   eol=lf
"*.yml"    eol=lf
