<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= appName %></title>
  </head>
  <body>
		<div id="appProvider" style="display: none"></div>
    <div id="app">
			<!-- 页面渲染之前加载动画 -->
      <div class="app-loading">
        <img class="app-loading_logo" src="/resource/logo.png" />
        <div class="app-loading__dot-wrapper">
          <div class="app-loading__dot">
            <i class="left top"></i>
            <i class="left bottom delay-400"></i>
            <i class="right top delay-800"></i>
            <i class="right bottom delay-1200"></i>
          </div>
        </div>
        <h2 class="app-loading_title"><%= appTitle %></h2>
        <style>
          @import '/resource/loading.css';
        </style>
      </div>
      <!-- End -->
		</div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
