/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 6px;
}
/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
  background-color: #e6e6e6;
  border-radius: 6px;
}
/*---滚动条大小--*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}

html {
	scrollbar-width: thin;
	scrollbar-color: e6e6e6 transparent;
}
